.about {
    &__wrapper {
        padding: calc(152px + 95px) 0 266px;

        @media (max-width: 576px) {
            padding: calc(79px + 95px) 0 40px;
        }
    }

    &__title {
        color: var(--color-1, #FFF);
        font-size: 80px;
        font-weight: 600;
        line-height: 100%;
        /* 80px */
        margin-bottom: 28px;
        margin-top: 0;

        @media (max-width: 940px) {
            font-size: 60px;
        }

        @media (max-width: 576px) {
            font-size: 32px;
            margin-bottom: 30px;
        }
    }

    &__descr {
        color: var(--color-1, #FFF);
        font-size: 20px;
        font-weight: 500;
        line-height: 130%;
        /* 26px */
        max-width: 570px;
        margin-bottom: 60px;

        @media (max-width: 576px) {
            font-size: 18px;
            margin-bottom: 41px;
        }
    }

    &__btn {
        padding: 19px 54px;
        background: var(--color-3, #F0C631);
        text-decoration: none;
        color: var(--color-2, #000);
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        /* 19.2px */
        transition: background-color 0.3s;

        &:hover {
            background-color: #FFF;
        }
    }
}