.header {
    padding: 32px 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        gap: 30px;

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__MenuBtn {
        display: none;

        @media (max-width: 768px) {
            display: block;
            width: 20px;
            height: 16px;
        }
    }

    &__tel {
        @media (max-width: 768px) {
            display: none;
        }
    }

    &__link {
        color: var(--color-1, #FFF);
        font-size: 14px;
        font-weight: 600;
        line-height: 120%;
        /* 16.8px */
        letter-spacing: 0.7px;
        text-transform: uppercase;
        text-decoration: none;
        padding-bottom: 14px;

        &--current {
            border-bottom: 2px solid #F0C631;
        }
    }
}